[submodule "externals/core"]
	path = externals/core
	url = /home/stalkerxey/gitrepos/core/core.git
[submodule "externals/onPHP"]
	path = externals/onPHP
	url = /home/stalkerxey/gitrepos/onPHP/onPHP.git
